################################################################################
# Docker Compose file for starting up the service for testing in GitHub workflow
# This template provides comparable infrastructure to the real environment.
#   - mongodb
#   - redis
#   - localstack (s3, sqs, sns)
#
# Both mongo and localstack have init scripts included for setting up resources
# on startup. These scripts are in docker/scripts.
#
# It also includes a selenium-chrome container for running the browser headless.
#
# The services being tested can either be started up here using the latest
# builds from dockerhub.
# In the example each service has a .env config file in docker/config/
# Services can reference each other by their container names.
# e.g. http://cdp-example-node-backend:3001/
#
################################################################################
name: epr-frontend-journey-tests

services:

################################################################################
# Headless browser, used by the test suite to actually run the tests against the
# containers.
  selenium-chrome:
    image: selenium/standalone-chrome:123.0
    ports:
      - 4444:4444
    network_mode: host

################################################################################
  localstack:
    image: localstack/localstack:3.2.0
    ports:
      - '4566:4566'
    environment:
      - LOCALSTACK_HOST=127.0.0.1
      - SERVICES=s3,sqs,sns,dynamodb
      - LS_LOG=WARN
    env_file:
      - ./docker/config/defaults.env
    volumes:
      - ./docker/scripts/localstack:/etc/localstack/init/ready.d
    healthcheck:
      test: ["CMD", "curl", "localhost:4566"]
      interval: 5s
      start_period: 5s
      retries: 3

################################################################################
  redis:
    image: redis:7.2.11-alpine3.21
    ports:
      - '6379:6379'
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 5s
      start_period: 2s
      retries: 5

  cdp-uploader:
    image: defradigital/cdp-uploader:${CDP_UPLOADER_VERSION:-latest}
    ports:
      - '7337:7337'
    links:
      - 'localstack:localstack'
      - 'redis:redis'
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      VIRTUAL_HOST: ~^uploader\..*\.sslip\.io
      VIRTUAL_PATH: /
      VIRTUAL_PORT: 7337
      PORT: 7337
      NODE_ENV: development
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
      MOCK_VIRUS_SCAN_ENABLED: true
      MOCK_VIRUS_RESULT_DELAY: 3
      SQS_ENDPOINT: http://localstack:4566
      S3_ENDPOINT: http://localstack:4566
      CONSUMER_BUCKETS: re-ex-summary-logs

################################################################################
#
# Add the services you want to test below.
#
################################################################################
  mongodb:
    image: mongo:6.0.13
    restart: always
    ports:
      - '27017:27017'
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      start_period: 5s
      retries: 3

  epr-backend:
    image: defradigital/epr-backend:${EPR_BACKEND:-latest}
    ports:
      - '3001:3001'
    links:
      - 'localstack:localstack'
      - 'mongodb:mongodb'
      - 'cdp-uploader:cdp-uploader'
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      cdp-uploader:
        condition: service_started
    env_file:
      - ./docker/config/defaults.env
    environment:
      PORT: 3001
      NODE_ENV: development
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      GOVUK_NOTIFY_API_KEY: fake-key-for-testing
      AUDIT_ENABLED: false
      FEATURE_FLAG_SUMMARY_LOGS: true
      FEATURE_FLAG_DEV_ENDPOINTS: true
      CDP_UPLOADER_URL: http://cdp-uploader:7337
      APP_BASE_URL: http://epr-backend:3001
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      interval: 5s
      start_period: 10s
      retries: 5
  epr-backend-data-setup:
    image: curlimages/curl:latest
    depends_on:
      epr-backend:
        condition: service_healthy
    volumes:
      - ./docker/scripts/epr-backend-data-setup.sh:/setup.sh
    command: sh /setup.sh

  epr-frontend:
    image: defradigital/epr-frontend:${EPR_FRONTEND:-latest}
    ports:
      - '3000:3000'
    env_file:
      - ./docker/config/defaults.env
    environment:
      CDP_UPLOADER_URL: http://cdp-uploader:7337
      DEFRA_ID_CLIENT_ID: 63983fc2-cfff-45bb-8ec2-959e21062b9a
      DEFRA_ID_CLIENT_SECRET: test_value
      DEFRA_ID_OIDC_CONFIGURATION_URL: http://defra-id-stub:3200/cdp-defra-id-stub/.well-known/openid-configuration
      DEFRA_ID_SERVICE_ID: d7d72b79-9c62-ee11-8df0-000d3adf7047
      EPR_BACKEND_URL: http://epr-backend:3001
      LOCALSTACK_ENDPOINT: http://localstack:4566
      NODE_ENV: development
      PORT: 3000
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
    depends_on:
      defra-id-stub:
        condition: service_started
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
      epr-backend:
        condition: service_healthy
      cdp-uploader:
        condition: service_started

  defra-id-stub:
    image: defradigital/cdp-defra-id-stub:${DEFRA_ID_STUB_VERSION:-latest}
    ports:
      - '3200:3200'
    depends_on:
      redis:
        condition: service_started
    environment:
      APP_BASE_URL: http://defra-id-stub:3200
      NODE_ENV: development
      OIDC_BASE_PATH: /cdp-defra-id-stub
      OIDC_CLIENT_ID: 63983fc2-cfff-45bb-8ec2-959e21062b9a
      OIDC_CLIENT_SECRET: test_value
      OIDC_SHOW_LOGIN: true
      PORT: 3200
      REDIS_HOST: redis
      SESSION_CACHE_ENGINE: redis
      USE_SINGLE_INSTANCE_CACHE: true
